<!DOCTYPE html>
<html>
<head>
    <title>글 상세 페이지</title>
</head>
<body>
    <div id="app">
        <h5>카테고리</h5>
        {{}}
        <h5>제목</h5>
        {{}}
        <h5>작성자</h5>
        {{}}
        <h5>내용</h5>
        {{}}
        <h5>작성일시</h5>
        {{}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                
            },
            created: function () {
                axios.get('')
            },
            methods: {
                
            }
        });
    </script>
</body>
</html>