<!DOCTYPE html>
<html>
    <body>
        <script>
            state = 0;
            function favoriteYN() {

                if(state == 0) {
                    state = 1;
                    document.getElementById('image').src = "image/change.png";
                    //데이터 상태 1로 변경(즐겨찾기 추가)

                } else {
                    state = 0;
                    document.getElementById('image').src = "image/origin.png";
                    //데이터 상태 0으로 변경(즐겨찾기 취소)
                }
            }
        </script>

        <img id="image" onclick="favoriteYN();" src="image/origin.png">

    </body>
</html>