<!DOCTYPE html>
<html>

<head>
    <title>로그인</title>
</head>

<body>
    <div id="app">
        
        <h1>로그인</h1>

        <h5>이메일</h5>
        <input v-model="user.useremail" ref="useremail" type="text">

        <h5>비밀번호</h5>
        <input v-model="user.userpw" ref="userpw" type="password">

        <button v-on:click="login">로그인</button>
   
    </div>


    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                user: {
                    useremail: '',
                    userpw: '',
                }
            },
            methods: {
                login: function () {     

                    axios.post('/login', this.user)
                        .then(function (response) {
                            console.log(response);
                            //location.href="/login";
                        }.bind(this))
                        .catch(function (err) {
                            console.log(err);
                        })
                }
            }


        });

    </script>
</body>

</html>