<!DOCTYPE html>
<html>

<head>
    <title>로그인</title>
</head>

<body>
    <div id="app">

        <form action="/login" method='post'>

            <h1>Login</h1>

            <h5>이메일</h5>
            <input name="useremail" type="text">

            <h5>비밀번호</h5>
            <input name="userpw" type="password">

            <button>로그인</button>

        </form>
    </div>


    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--뷰로더 스크립트-->
    <script src="https://unpkg.com/http-vue-loader"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                

            },
            methods: {

            }


        });


    </script>
</body>

</html>